<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
    .demo {
      background: #00F7DE;

    }
  </style>
</head>
<body>
<div id="demo1" class="demo">
  <p>
    呵呵
  </p>
</div>
<div id="demo2" class="demo">
  <p>
    哈哈
  </p>
</div>
<script>
  var demo1 = document.getElementById("demo1"),
    demo2 = document.getElementById("demo2");
  demo1.onmouseover = function () {
    demo2.getElementsByTagName('p')[0].innerHTML = "ooo";
  };
  demo2.onmouseover = function () {
    demo1.getElementsByTagName('p')[0].innerHTML = "ooo";
  };
  demo1.onmouseout = function () {
    demo2.getElementsByTagName('p')[0].innerHTML = "哈哈";
  };
  demo2.onmouseout = function () {
    demo1.getElementsByTagName('p')[0].innerHTML = "呵呵";
  };
</script>
</body>
</html>
